@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;900&display=swap');

/*............................................Special headings*/

/* Reset default margin and padding */
* {
    margin: 0px;
    padding: 0px;
}

/*............................................Navbar*/

/* Change default bootstrap color of Navbar */
.bg-color {
    background-color:#ffcc51;
}

/* Change default Boostrap color and style of Navbar*/
.navbar-light .navbar-brand {
    color:#ff4a4b;
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
  }

 /* Change default Boostrap color and style of Nav links*/ 
  .navbar-custom .navbar-nav .nav-link {
    color:#ff4a4b;
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Change default Boostrap color Navbar brand hover colour */ 
.navbar-light .navbar-brand:hover {
    color: #fff;
}

/* Change default Boostrap color Nav linkhover colour */ 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { 
    color: #fff;
}

/* Change default Boostrap navbar toggler colour */ 
.navbar-light .navbar-toggler {
    color:#ff4a4b;
}

/*............................................Home*/



/* Make main image on home page responsive */
.hero-image{
  background-image: url("https://wallpaperaccess.com/full/471490.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
}    


/* Text on hero image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Aladin', cursive;
    text-align: center;
    width: 100%;
  }

  /* Animtation for hero text from left side of Home Page */
  #heading-left {
    color:white;   
    -webkit-animation-name: fadeInLeft;
     animation-name: fadeInLeft;
     -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 50px;
}  

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Animtation for hero text from right side of Home Page */
#heading-right {
    color:white;
    -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 25px;
}  

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*............................................Contact*/

/* Contact form background image */
.bg-img {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/488/957/306/greece-santorini-hotel-luxury-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 800px;
}

/* Contact form main wrapper */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 100%;
    background: rgba(254,236,164,1);
    padding: 25px;
    border-radius: 5px;
  }

  /* Contact form main wrapper heading */
  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }
  
  .wrapper .input_field{
    margin-bottom: 5px;
  }
  
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 5px;
  }
  
  .wrapper textarea{
    resize: none;
    height: 60px;
  }
  
  .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  
  #error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }

  


/*............................................Quiz*/

.quiz-img {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/666/547/648/santorini-greece-santorini-greece-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 800px;
}

.quiz-wrapper {
  margin: 0;
  font-size: 16px;
  background-color: #009688;
}

.custom-box {
  max-width: 700px;
  background-color: #fff;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

.home-box h3 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
  line-height: 25px;
  font-weight: 500;
}

.home-box p {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  line-height: 22px;
  font-weight: 400;
}

.home-box p span {
  font-weight: 500;
}

.home-box .quiz-btn {
  margin-top: 20px;
}

.quiz-btn {
  padding: 15px 45px;  
  background-color: #009688;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}










/*............................................Footer*/

.social-icons {
  width: 100%;
 
}

.fa-youtube-square .fa-tripadvisor {
  font-size: 30px;
}

/* Footer positioning and styling */ 
.footer {
        background-color: #ffcc51;
        bottom: 0;
        font-size: 20px;
       
       
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color:#ff4a4b;
}

#google-api {
  margin-right: 50%;
}





/* Footer text colour */
.text {
    color:#ff4a4b;
}


/*............................................Media Queries*/
@media only screen and (min-width: 100px) and (max-width: 575.98px) {
  .navbar-collapse {
    position: absolute;
    z-index: 1;
    top: 60px;
    height: 100%;
    margin-top: 10px;
  }

#heading-left {
  margin-top: 50px; 
  font-size: 25px;   
  }

  #heading-right {
  display: none;
  
}


}








