@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;900&display=swap');

/*............................................Special headings*/

/* Reset default margin and padding */
* {
    margin: 0px;
    padding: 0px;
}

/*............................................Navbar*/

/* Change default bootstrap color of Navbar */
.bg-color {
    background-color:#ffcc51;
}

/* Change default Boostrap color and style of Navbar*/
.navbar-light .navbar-brand {
    color:#ff4a4b;
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
  }

 /* Change default Boostrap color and style of Nav links*/ 
  .navbar-custom .navbar-nav .nav-link {
    color:#ff4a4b;
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Change default Boostrap color Navbar brand hover colour */ 
.navbar-light .navbar-brand:hover {
    color: #fff;
}

/* Change default Boostrap color Nav linkhover colour */ 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { 
    color: #fff;
}

/* Change default Boostrap navbar toggler colour */ 
.navbar-light .navbar-toggler {
    color:#ff4a4b;
}

/*............................................Home*/

/* Make main image on home page responsive */
.hero-image{
  background-image: url("https://wallpaperaccess.com/full/471490.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
}    

/* Text on hero image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Aladin', cursive;
    text-align: center;
    width: 100%;
  }

  /* Animtation for hero text from left side of Home Page */
  #heading-left {
    color:white;   
         animation-name: fadeInLeft;
     -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 50px;
}  

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Animtation for hero text from right side of Home Page */
#heading-right {
    color:white;
    
  animation-name: fadeInRight;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 25px;
}  

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*............................................Contact*/

/* Contact form background image */
.bg-img {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/488/957/306/greece-santorini-hotel-luxury-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 800px;
}

/* Contact form main wrapper */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 350px;
    width: 100%;
    background: rgba(254,236,164,1);
    padding: 25px;
    border-radius: 5px;
  }

  /* Contact form main wrapper heading */
  .wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }
  
  /* Wrapper for contact fom input fields */
  .wrapper .input_field{
    margin-bottom: 5px;
  }
  
   /* Wrapper for contact fom input fields and text */
  .wrapper .input_field input[type="text"],
  .wrapper textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 5px;
  }
  
   /* Wrapper for contact fom textarea */
  .wrapper textarea{
    resize: none;
    height: 60px;
  }
  
  /* Wrapper for contact fom submit button */
  .wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }
  
  /* Styling for error message */
  #error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }

/*............................................Quiz*/

/* Background image for quiz page */
.quiz-img {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/666/547/648/santorini-greece-santorini-greece-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 800px;
}

/* Main wrapper for quiz */
.quiz-wrapper {
  margin: 0;
  font-size: 16px;
  margin-top: 50px;
}

/* Main box to contain quiz */
.custom-box{
	max-width: 700px;
	background-color: #ffffff;
	margin:40px auto;
  padding: 30px;
	border-radius: 10px;
	animation: fadeInRight 1s ease;
  opacity: 0.9;
  z-index: -1;
}

@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity:0;
	}
	100%{
	  transform: translateX(0px);	
	  opacity:1;
	}
}

.custom-box::before,
.custom-box::after{
	content: '';
	clear: both;
	display: table;
}

.custom-box.hide{
	display: none;
}

/* Home box heading */
.home-box h3{
	font-size: 18px;
	color:#000000;
	font-weight: 500;
	margin-bottom: 15px;
	line-height: 25px;
}

/* To style p tag in home box */
.home-box p{
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 22px;
	color:#000000;
	font-weight: 400;
}

/* To style p span tag in home box */
.home-box p span{
	font-weight: 500;
}

/* To style start quiz button */
.home-box .btn{
  margin-top: 20px;
}

/* To style start quiz button */
.btn{
	padding: 15px 45px;
	background-color: #009688;
	color:#ffffff;
	border:none;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

/* To style quiz sections */
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{
   width: 100%;
   float: left;
}

/* To style question number */
.quiz-box .question-number{
	font-size: 18px;
	color:#009688;
	font-weight: 600;
	border-bottom:1px solid #cccccc;
	padding-bottom: 10px;
	line-height: 25px
}

/* To style question text */
.quiz-box .question-text{
	font-size: 22px;
	color:#000000;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin:0;
}

/* Style for next question */
.quiz-box .question-text img{
	max-width: 100%;
	display: block;
	margin-top: 15px;
}

/* Style quiz option container */
.quiz-box .option-container .option{
	background-color: #cccccc;
	padding:13px 15px;
	font-size: 16px;
	line-height: 22px;
	color:#000000;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
	opacity:0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow:hidden;
}

/* Style answers already answered */
.quiz-box .option-container .option.already-answered{
	pointer-events: none;
}
@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity: 1;
	}
}

/* Style corretn answers */
.quiz-box .option-container .option.correct::before{
 content: '';
 position: absolute;
 left:0;
 top:0;
 height: 100%;
 width: 100%;
 background-color: green;
 z-index: -1;
 animation: slideInLeft .5s ease forwards
}
@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
	 transform: translateX(0%);	
	}
}

/* Style wrong option container */
.quiz-box .option-container .option.wrong::before{
 content: '';
 position: absolute;
 left:0;
 top:0;
 height: 100%;
 width: 100%;
 background-color: red;
 z-index: -1;
 animation: slideInLeft .5s ease forwards
}

/* Style wrong option container text */
.quiz-box .option-container .option.wrong{
	color:#ffffff;
}

/* Style correct option container text */
.quiz-box .option-container .option.correct{
	color:#ffffff;
}

/* Style main quiz button */
.quiz-box .btn{
	margin:15px 0;
}

/* Style answers indicators */
.quiz-box .answers-indicator{
	border-top: 1px solid #cccccc;
}

/* Style indicator div continer */
.quiz-box .answers-indicator div{
	height: 40px;
	width: 40px;
	display: inline-block;
	background-color: #cccccc;
	border-radius: 50%;
	margin-right: 3px;
	margin-top: 15px;
}

/* Style correct answer indicator div continer */
.quiz-box .answers-indicator div.correct{
	background-color: green;
	background-image: url("../img/correct.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

/* Style wrong answer indicator div continer */
.quiz-box .answers-indicator div.wrong{
	background-color: red;
	background-image: url("../img/wrong.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

/* Align text for result box */
.result-box{
	text-align: center;
}

/* Hide result box */
.result-box.hide{
	display: none;
}

/* Main heading for result box */
.result-box h1{
	font-size: 36px;
	line-height: 42px;
	color:#009688;
}

/* Table to display results */
.result-box table{
	width: 100%;
	border-collapse: collapse;
	margin:30px 0;
}

/* Style table to display results */
.result-box table td{
	border:1px solid #cccccc;
	padding:8px 15px;
	font-weight: 500;
	color:#000000;
	width: 50%;
	text-align: left;
	font-size: 18px;
}

/* Position result box button */
.result-box .btn{
	margin-right: 20px;
}

/*............................................Footer*/

/* Social icons container */
.social-icons {
  width: 100%;
}

/* Font awesome social icons */
.fa-youtube-square .fa-tripadvisor {
  font-size: 30px;
}

/* Footer positioning and styling */ 
.footer {
        background-color: #ffcc51;
        bottom: 0;
        font-size: 20px;
}

/* Style Santorini footer text */
p {
  margin-bottom: 0;
}

/* Style a href tags */
a {
  text-decoration: none;
  color:#ff4a4b;
}

/* Powered by Google API text */
#google-api {
  margin-right: 50%;
}

/* Footer text colour */
.text {
    color:#ff4a4b;
}

/*............................................Media Queries*/
@media only screen and (min-width: 100px) and (max-width: 575.98px) {

  /* Navbar for mobile devices */
  .navbar-collapse {
    position: absolute;
    z-index: 1;
    top: 60px;
    height: 100%;
    margin-top: 10px;
  }

/* Main welcome to Santorini heading */  
#heading-left {
  margin-top: 50px; 
  font-size: 25px;   
}

/* Stop secondary heading from display on mobile devices. */
#heading-right {
 display: none;
}
}








